<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LandrDbCon" connectionString="SERVER=landrstories.cp4rsgsqz3k7.us-east-1.rds.amazonaws.com;DATABASE=landrstories;UID=sa;PASSWORD=#Sa&123#456%12!);"/>
  </connectionStrings>
  <appSettings  >
    <add key="ClientSecret" value="landrP$0J#c@"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
</configuration>